<div class="d-flex" id="sidebarUsuario">
    <div id="sidebar-container" class="bg-primary">
        <div class="logo">
            <h4 class=" text-light text-center ">USUARIO</h4>
        </div>
        <div class="menu">
            <a href="/panelUsu" class="d-block  text-light p-3"><i class="icon ion-md-apps mr-2 lead"></i>Cursos</a>
            <a href="/misDatosFisicos" class="d-block  text-light p-3"><i
                    class="icon ion-md-clipboard mr-2 lead"></i>Datos
                Físicos</a>
            <a href="/misCursos" class="d-block  text-light p-3"><i class="icon ion-md-folder mr-2 lead"></i>Mis
                Cursos</a>
            <a href="/miPerfil" class="d-block  text-light p-3"><i class="icon ion-md-person mr-2 lead"></i>Perfil</a>
            <a href="/misPagos" class="d-block  text-light p-3"><i class="icon ion-md-cash mr-2 lead"></i>Pagos</a>
        </div>
    </div>
    <div class="w-100">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <form class="form-inline position-relative my-2 d-inline-block">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-search position-absolute" type="submit"><i
                            class="icon ion-md-search"></i></button>
                </form>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            {{#each user}}
                            <img src="{{ imageURL }}" class="img-fluid rounded-circle avatar mr-2">
                            {{ name }}
                            {{/each}}
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <!-- MIS DATOS FÍSICOS-->
        <div class="container p-3">
            <h3 class="font-weight-bold mb-0"></h3>
            <div class="row">
                {{#each formM}}
                <div class="card mx-auto" style="width: 40rem;">
                    <div class="card-body mt-4">
                        <h4 class="card-title" d-flex justify-content-between align-items-center>
                            Ficha Física <a href="/fichaM/edit/{{ id }}"><i class="fas fa-edit"></i></a>
                        </h4>
                        <div class="form-group">
                            Deporte:
                            <label for="deporteF"></label>
                            <select name="deporteF" id="deporteF" class="form-control" disabled>
                                <option>{{deporteF}}</option>
                                <option>Futbol</option>
                                <option>Básquet</option>
                                <option>Voley</option>
                                <option>Natación</option>
                                <option>Tenis</option>
                                <option>Ninguno</option>
                            </select>
                        </div>

                        <div class="form-group">
                            Tipo Alimentación:
                            <label for="alimentacionF"></label>
                            <select name="alimentacionF" id="alimentacionF" class="form-control" disabled>
                                <option>{{alimentacionF}}</option>
                                <option>Balanceada</option>
                                <option>Comida Chatarra</option>
                                <option>No balanceada</option>
                            </select>
                        </div>
                        <div class="form-group">

                            <p>Cantidad de Horas de Sueño<input type="number" class="col-sm-4 form-control"
                                    name="horasSueñoF" placeholder="Horas de sueño" disabled value="{{horasSueñoF}}">
                            </p>
                        </div>
                        <div class="form-group">
                            <p>Fecha de Examen Físico: <input type="date" class="col-sm-4 form-control" name="fechaExaF"
                                    id="fechaExaF" disabled value="{{fechaExaF}}">
                            </p>
                        </div>
                        <div class="form-group">
                            <p>Peso(kg)<input type="number" class="col-sm-4 form-control" name="pesoF"
                                    placeholder="Peso(kg)" disabled value="{{pesoF}}"></p>
                        </div>
                        <div class="form-group">
                            <p>Talla(metros)<input type="number" class="col-sm-4 form-control" name="tallaF"
                                    placeholder="Talla(metros)" disabled value="{{tallaF}}"></p>
                        </div>
                        <div class="form-group">
                            <p>Grasa Corporal(kg)<input type="number" class="col-sm-4 form-control"
                                    name="grasaCorporalF" placeholder="Grasa Corporal(kg)" disabled
                                    value="{{grasaCorporalF}}"></p>
                        </div>

                        <div class="form-group">
                            <p>Masa Magra(kg)<input type="number" class="col-sm-4 form-control" name="masaMagraF"
                                    placeholder="Masa Magra(kg)" disabled value="{{masaMagraF}}"></p>
                        </div>

                    </div>
                </div>
                {{else}}
                <div class="card mx-auto">
                    <div class="card-body">
                        <h1>Hello {{name}}</h1>
                        <p class="lead">No has llenado tu ficha física</p>
                        <a href="/addDatosFis" class="btn btn-info btn-lg btn-block">Ingresar!</a>

                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
</div>