<div class="d-flex" id="sidebarUsuario">
    <div id="sidebar-container" class="bg-primary">
        <div class="logo">
            <h4 class=" text-light text-center ">USUARIO</h4>
        </div>
        <div class="menu">
            <a href="/panelUsu" class="d-block  text-light p-3"><i class="icon ion-md-apps mr-2 lead"></i>Cursos</a>
            <a href="/misDatosFisicos" class="d-block  text-light p-3"><i
                    class="icon ion-md-clipboard mr-2 lead"></i>Datos
                Físicos</a>
            <a href="/misCursos" class="d-block  text-light p-3"><i class="icon ion-md-folder mr-2 lead"></i>Mis
                Cursos</a>
            <a href="/miPerfil" class="d-block  text-light p-3"><i class="icon ion-md-person mr-2 lead"></i>Perfil</a>
            <a href="#" class="d-block  text-light p-3"><i class="icon ion-md-cash mr-2 lead"></i>Pagos</a>
        </div>
    </div>
    <div class="w-100">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <form class="form-inline position-relative my-2 d-inline-block">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-search position-absolute" type="submit"><i
                            class="icon ion-md-search"></i></button>
                </form>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            {{#each user}}
                            <img src="{{ imageURL }}" class="img-fluid rounded-circle avatar mr-2">
                            {{ name }}
                            {{/each}}
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <div id="content">
            <section class="py-3">
                <div class="row">
                    {{#each Curso}}
                    <div class="col-md-4">
                        <div class="container">
                            <div class="card" style="width: 15rem;">

                                <div class="card-body">
                                    <i class="icon ion-md-folder mr-2 lead"></i>Curso<p class="card-title">{{nameCurso}}
                                    </p>
                                    Descripción<p class="card-text">{{descripcionCurso}}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <div class="card-body">
                                        <i class="icon ion-md-person mr-2 lead"></i>Docente<p class="card-title">
                                            {{docenteCurso}}
                                        </p>
                                    </div>

                                </ul>
                                <ul class="list-group list-group-flush">
                                    <div class="card-body">
                                        <i class="icon ion-md-cash mr-2 lead"></i>Costo $ <p class="card-text">
                                            {{costoCurso}}</p>
                                    </div>

                                </ul>
                                <!-- Button trigger modal -->
                                <div class="card-body">
                                    <button class="btn btnEditar text-light center" style="background-color: #81b214;"
                                        data-toggle="modal" data-toggle="modal"
                                        data-target="#staticBackdrop">Matricularse</button>

                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false"
                                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">Matrícula</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                ¿Desea matricularse en este curso?
                                            </div>
                                            <div class="modal-footer">
                                                <a class="nav-link" href="/misCursos">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Yes</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    {{/each}}
                </div>
            </section>
        </div>
    </div>
</div>